* {
    margin: 0;
    border: 0;
}
header {
    background-color: #dd8888;
    margin: 0;
    padding: 10%;
    position: relative;
}
.nav-list {
    color: rgb(13, 200, 57);
    display: flex;
    gap: 30px; 
    list-style: none;
    justify-content: left;
    position: absolute;
}
.photo-row {
  display: flex;
  gap 100px;
  justify-content:center;
}
.photo-set {
    text-align: center;
    padding: 0px;
   
}
.photo-set img{
    margin: 20px;
    width: 100%;
}
