* {
    margin: 0;
    border: 0;
}
header {
    background-color: #dd8888;
    margin: 0;
    padding: 5%;
    position: relative;
}
#logo {
    justify-content: left;
    border-radius: 100%;
    margin: 0;
}
#heading {
    text-align: right;
}
.nav-list {
    color: rgb(13, 200, 57);
    justify-content: right;
    position: right;
    display: flex;
    gap: 50px; 
    list-style: none;
}
h3 {
    text-align: center;
    margin-top: 10px;
}
.photo-row {
  display: flex;
  gap 100px;
  justify-content:center;
}
.photo-set {
    text-align: center;
    padding: 0px;
   
}
.photo-set img{
    margin: 20px;
    width: 100%;
}
footer{
    text-align: center;
}
img {
    border-radius: 5px;
    image-resolution: 100px;
}